/* 
  ALLGEMEIN 
*/

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: var(--fontSize);
  line-height: var(--lineHeight);
  background: var(--background-color);
  color: var(--foreground-color);
  letter-spacing: -0.01em;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-variant-ligatures: contextual common-ligatures;
  font-feature-settings: "kern" 1, "liga" 1, "calt" 1, "cv10" 1;
}
body {
  display: block;
  font-family: "Inter";
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
  overflow-x: hidden;
  padding: calc(var(--lineHeight) * 2);
  padding-bottom: calc(var(--lineHeight) * 3);
}

:root {
  --fontSize: 15px;
  --sansFont: "Inter";
  --lineHeight: calc(var(--fontSize) * 1.5);
  --baseline: calc(var(--lineHeight) / 2);
  --blockSpacingTop: 0px;
  --blockSpacingBottom: var(--lineHeight);
  --hrThickness: 2px;
  --h1-size: 2.8rem;
  --h2-size: 2.2rem;
  --h3-size: 1.4rem;
  --h4-size: 1.1rem;
  --columnGap: calc(var(--lineHeight) * 2);
  --rowGap: var(--lineHeight);
  --displayScale: 1;
  --pixel: 1px;
  --foreground-color-rgb: 0, 0, 0;
  --foreground-color-a: 1;
  --foreground-color: rgba(
    var(--foreground-color-rgb),
    var(--foreground-color-a)
  );
  --background-color: #fff;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url("Inter-Thin.woff2?v=3.13") format("woff2"),
    url("Inter-Thin.woff?v=3.13") format("woff");
}
@font-face {
  font-family: "Inter";
  font-style: italic;
  font-weight: 100;
  font-display: swap;
  src: url("Inter-ThinItalic.woff2?v=3.13") format("woff2"),
    url("Inter-ThinItalic.woff?v=3.13") format("woff");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url("Inter-ExtraLight.woff2?v=3.13") format("woff2"),
    url("Inter-ExtraLight.woff?v=3.13") format("woff");
}
@font-face {
  font-family: "Inter";
  font-style: italic;
  font-weight: 200;
  font-display: swap;
  src: url("Inter-ExtraLightItalic.woff2?v=3.13") format("woff2"),
    url("Inter-ExtraLightItalic.woff?v=3.13") format("woff");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("Inter-Light.woff2?v=3.13") format("woff2"),
    url("Inter-Light.woff?v=3.13") format("woff");
}
@font-face {
  font-family: "Inter";
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url("Inter-LightItalic.woff2?v=3.13") format("woff2"),
    url("Inter-LightItalic.woff?v=3.13") format("woff");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("Inter-Regular.woff2?v=3.13") format("woff2"),
    url("Inter-Regular.woff?v=3.13") format("woff");
}
@font-face {
  font-family: "Inter";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url("Inter-Italic.woff2?v=3.13") format("woff2"),
    url("Inter-Italic.woff?v=3.13") format("woff");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("Inter-Medium.woff2?v=3.13") format("woff2"),
    url("Inter-Medium.woff?v=3.13") format("woff");
}
@font-face {
  font-family: "Inter";
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url("Inter-MediumItalic.woff2?v=3.13") format("woff2"),
    url("Inter-MediumItalic.woff?v=3.13") format("woff");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("Inter-SemiBold.woff2?v=3.13") format("woff2"),
    url("Inter-SemiBold.woff?v=3.13") format("woff");
}
@font-face {
  font-family: "Inter";
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url("Inter-SemiBoldItalic.woff2?v=3.13") format("woff2"),
    url("Inter-SemiBoldItalic.woff?v=3.13") format("woff");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("Inter-Bold.woff2?v=3.13") format("woff2"),
    url("Inter-Bold.woff?v=3.13") format("woff");
}
@font-face {
  font-family: "Inter";
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url("Inter-BoldItalic.woff2?v=3.13") format("woff2"),
    url("Inter-BoldItalic.woff?v=3.13") format("woff");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url("Inter-ExtraBold.woff2?v=3.13") format("woff2"),
    url("Inter-ExtraBold.woff?v=3.13") format("woff");
}
@font-face {
  font-family: "Inter";
  font-style: italic;
  font-weight: 800;
  font-display: swap;
  src: url("Inter-ExtraBoldItalic.woff2?v=3.13") format("woff2"),
    url("Inter-ExtraBoldItalic.woff?v=3.13") format("woff");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url("Inter-Black.woff2?v=3.13") format("woff2"),
    url("Inter-Black.woff?v=3.13") format("woff");
}
@font-face {
  font-family: "Inter";
  font-style: italic;
  font-weight: 900;
  font-display: swap;
  src: url("Inter-BlackItalic.woff2?v=3.13") format("woff2"),
    url("Inter-BlackItalic.woff?v=3.13") format("woff");
}

/* -------------------------------------------------------
Variable font.
Usage:

  html { font-family: 'Inter', sans-serif; }
  @supports (font-variation-settings: normal) {
    html { font-family: 'Inter var', sans-serif; }
  }
*/
@font-face {
  font-family: "Inter var";
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
  font-named-instance: "Regular";
  src: url("Inter-roman.var.woff2?v=3.13") format("woff2");
}
@font-face {
  font-family: "Inter var";
  font-weight: 100 900;
  font-display: swap;
  font-style: italic;
  font-named-instance: "Italic";
  src: url("Inter-italic.var.woff2?v=3.13") format("woff2");
}

@font-face {
  font-family: "Genesis";
  src: url("/content/Genesis-Regular/Genesis-Regular.eot");
  src: url("/content/enesis-Regular/Genesis-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("/content/Genesis-Regular/Genesis-Regular.woff2") format("woff2"),
    url("/content/Genesis-Regular/Genesis-Regular.woff") format("woff"),
    url("/content/Genesis-Regular/Genesis-Regular.ttf") format("truetype"),
    url("/content/Genesis-Regular/Genesis-Regular.svg#Genesis-Regular")
      format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Signal";
  src: url("/content/Signal-Regular/Signal-Regular.eot");
  src: url("/content/Signal-Regular/Signal-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("/content/Signal-Regular/Signal-Regular.woff2") format("woff2"),
    url("/content/Signal-Regular/Signal-Regular.woff") format("woff"),
    url("/content/Signal-Regular/Signal-Regular.ttf") format("truetype"),
    url("/content/Signal-Regular/Signal-Regular.svg#Signal-Regular")
      format("svg");
  font-weight: normal;
  font-style: normal;
}

.controls {
  font-weight: 450;
}

#singleFile .controls {
  width: 100%;
  -family: "RecVF", monospace;
  -weight: 450;
  overflow: hidden !important;
  padding: calc(var(--padding-unit) * 2);
  display: grid;
  --mono: 1;
  -variation-settings: "MONO" var(--mono);
  line-height: 2em;
}

.slider__next,
.slider__prev {
  position: absolute;
  height: 100%;
  width: 50%;
  z-index: 1000;
  top: 0;
}

.slider__next {
  right: 0;
  cursor: e-resize;
}

.slider__prev {
  cursor: w-resize;
}

/* Slider */

.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  height: 100%;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

/* Slider */

/* Arrows */

.slick-prev,
.slick-next {
  background: red;
  position: absolute;
  display: block;
  height: 100%;
  width: 100%;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 0%;
  padding: 0;
  border: none;
  outline: none;
}

.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  outline: none;
  background: transparent;
  color: transparent;
}

.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1;
}

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.25;
}

.slick-prev:before,
.slick-next:before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;
  color: white;
  opacity: 0.75;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
  display: none;
  left: -25px;
}

.slick-next {
  right: 0;
}

/* Dots */

.slick-dotted.slick-slider {
  margin-bottom: 30px;
}

.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;
}

.slick-dots li {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}

.slick-dots li button {
  border: 0;
  background: transparent;
  display: block;
  height: 20px;
  width: 20px;
  outline: none;
  line-height: 0px;
  font-size: 0px;
  color: transparent;
  padding: 5px;
  cursor: pointer;
}

/* line 240, scss/globals/_slick.scss */

.slick-dots li button:hover,
.slick-dots li button:focus {
  outline: none;
}

/* line 242, scss/globals/_slick.scss */

.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
  opacity: 1;
}

/* line 246, scss/globals/_slick.scss */

.slick-dots li button:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "•";
  width: 20px;
  height: 20px;
  font-family: "Inter";
  font-size: 6px;
  line-height: 20px;
  text-align: center;
  color: black;
  opacity: 0.25;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 263, scss/globals/_slick.scss */

.slick-dots li.slick-active button:before {
  color: black;
  opacity: 0.75;
}

.Genesis {
  font-family: "Genesis";
}

.Signal {
  font-family: "Signal";
}

/* Typo Controls */

.slider1 {
  -webkit-appearance: none;
  height: 5px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.slider1:hover {
  opacity: 1;
}
/* SIZE */
/* Chrome */
.slider1::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 23px;
  height: 24px;
  border: 0;
  background: url("/content/icons/S_TextSize_Md_N@2x.svg");
  cursor: pointer;
}
/* Firefox */
.slider1::-moz-range-thumb {
  width: 23px;
  height: 24px;
  border: 0;
  background: url("/content/icons/S_TextSize_Md_N@2x.svg");
  cursor: pointer;
}
/* WIDHT */
/* Chrome */
.slider2 {
  -webkit-appearance: none;
  height: 5px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.slider2:hover {
  opacity: 1;
}
.slider2::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 23px;
  height: 24px;
  border: 0;
  background: url("/content/icons/S_Width_Md_N@2x.svg");
  cursor: pointer;
}
/* Firefox */
.slider2::-moz-range-thumb {
  width: 23px;
  height: 24px;
  border: 0;
  background: url("/content/icons/S_Width_Md_N@2x.svg");
  cursor: pointer;
}

/* Typo Controls */

.content {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(8, 1fr);
  grid-auto-rows: auto;
}

.test {
  width: 100%;
  font-size: 200pt;
  line-height: 200pt;
  letter-spacing: -20pt;
  min-height: 30px;
  background-color: transparent;
  height: auto;
  outline: none;
  border: none;
  box-sizing: border-box;
  word-break: break-word;
  white-space: normal;
}

.input {
  font-size: var(--fontSize);
  line-height: var(--lineHeight);
  background: var(--background-color);
  color: var(--foreground-color);
}

hr {
  border-top: 2px solid;
  grid-area: 4 / 1 / 4 / 9;
}

.headline {
  grid-area: 1 / 1 / 1 / 8;
}

.type-viewer {
  grid-area: 2 / 1 / 2 / 9;
}

.controls {
  grid-area: 3/ 5 / 3 / 9;
}

.invert {
  grid-area: 1 / 8 / 1 / 9;
}

.type-viewer {
  grid-area: 2 / 1 / 2 / 9;
}

.work-headline {
  grid-area: 1 / 5 / 1 / 9;
}

.typo-text {
  grid-area: 5 / 5 / 5 / 9;
}

.work-content {
  grid-area: 1 / 1 / 4 / 5;
}

.introduction {
  grid-area: 2 / 1 / 2 / 3;
}

.sub-headline {
  grid-area: 2 / 5 / 2 / 5;
}

.sub-headline-2 {
  grid-area: 2 / 7 / 2 / 9;
}

p {
  font-size: 0.8rem;
}

.information {
  grid-area: 2 / 8 / 3 / 9;
}

img,
.slider,
.swiper-wrapper,
.swiper-container {
  grid-area: 3 / 2 / 3 / 5;
  width: 100%;
  height: auto;
}

.swiper-pagination {
  position: absolute;
  text-align: center;
  transition: 0.3s opacity;
  transform: translate3d(0, 0, 0);
  z-index: 10;
}

:root {
  --swiper-theme-color: #fafafa !important;
}

@media (max-width: 750px) {
  .content {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(auto, auto);
  }

  img,
  hr,
  .typo-text,
  .type-viewer,
  .invert,
  .sub-headline,
  .sub-headline-2,
  .headline,
  .work-headline,
  .work-text,
  .work-content,
  .swiper-wrapper,
  .swiper-container,
  .information,
  .introduction {
    grid-area: auto;
  }

  .work-content {
    min-width: 75%;
  }
  .headline {
  }
  .information {
  }
  .introduction {
  }
}
