html {
  visibility: visible;
  opacity: 1;
}

:root {
  --padding-unit: 1rem;
  --offwhite-1: hsla(0, 0%, 95%, 1);
  --offwhite-2: hsla(0, 0%, 85%, 1);
  --accent: hsl(221, 100%, 50%);
  --accent-on-dark: hsla(211, 100%, 65%, 1);
}

@media (max-width: 500px) {
  .hidden--sm {
    display: none !important;
  }
}

@media (max-width: 500px) {
  #singleFile .ccs-row {
    /* grid-template-columns: calc(40vw - var(--padding-unit)) calc(65vw - var(--padding-unit)); */
    grid-template-columns: 35vw calc(65vw - var(--padding-unit));
    column-gap: 0;
  }
}

#singleFile #controls-result {
  background: transparent;
  -size: 12vw;
  -weight: 800;
  line-height: 1.125;
  border: 0px;
  min-height: 50vh;
  -weight: 800;
  -family: "RecVF", sans-serif;
  -variation-settings: "MONO" 0.01, "CASL" 0.01, "slnt" 0, "CRSV" 0, "wght" 800;
  text-align: center;
  width: 100%;
  padding: 0;
  margin: 0;
  border-radius: 0;
  display: grid;
  align-content: center;
  overflow-x: auto;
  max-width: 100vw;
}

@media (max-width: 500px) {
  #singleFile #controls-result {
    padding: calc(var(--padding-unit) * 0.9);
    padding-right: 0;
  }
}

#singleFile fieldset {
  border: none;
  padding: 0;
}

#singleFile input[type="radio"] {
  margin: 0;
}

@media (max-width: 500px) {
  #singleFile .controls {
    padding: var(--padding-unit);
  }
}

#singleFile .controls .css,
#singleFile .controls .inputs {
  display: inline-block;
}

#singleFile .controls .inputs {
  width: 100%;
}

@media (max-width: 500px) {
  #singleFile .controls .inputs {
    width: 100%;
    max-width: none;
    top: -0.25rem;
    position: relative;
  }
}

#singleFile .controls .radio {
  border: 1px solid #bdbdbd;
  width: 12px;
  height: 12px;
  border-radius: 999px;
  display: inline-block;
  cursor: pointer;
}

@media (max-width: 500px) {
  #singleFile .controls .radio {
    width: 20px;
    height: 20px;
    position: relative;
    top: 6px;
  }
}

#singleFile .controls .radio.active {
  background-color: #bdbdbd;
}

#singleFile .controls ul {
  list-style-type: none;
  padding: 0;
  width: 100%;
}

#singleFile .controls li {
  display: block;
}

@media (max-width: 500px) {
  #singleFile .controls li {
    margin: 5px 0;
    display: grid;
    grid-template-columns: 45% 55%;
  }
}

#singleFile .controls .property {
  color: #c2404c;
}

#singleFile .controls .custom-prop {
  color: #1fa87a;
}

#singleFile .controls .value {
  color: #494949;
}

#singleFile .controls .string {
  color: #0050ff;
}

#singleFile .controls span.comment {
  -variation-settings: "MONO" 1, "slnt" -12, "CRSV" 1;
  color: #858585;
}

@media (max-width: 1150px) {
  #singleFile .controls span.comment {
    display: none !important;
  }
}
